
{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'main/assets/css/Home.css'%}"/>
</head>

<body class="u-body u-xl-mode">
    <div class ="main_test">
        <section class="u-align-center u-clearfix u-white u-section-1" id="carousel_871a">
            <div class="u-expanded-width u-gradient u-shape u-shape-rectangle u-shape-1"></div><br><br>
            <h1 class="u-text u-text-default u-text-palette-2-base u-text-1">
                <img src ="{% static 'main/images/logo.png' %}" style="display: block; margin: -160; width:500px; height:500px;" ></h1><br>
            <div class="u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    {% if user.is_authenticated %}
                        <a href="{% url 'gallery' %}" class="link">
                    {% else %}
                        <a onclick="not_login();" >
                    {% endif %}
                            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1">
                                <div class="u-container-layout u-similar-container u-container-layout-1">              
                                    <img class="u-image u-image-default u-preserve-proportions u-image-1" alt="" data-image-width="800" data-image-height="800" src="{% static 'main/images/gallery.png' %}">
                                    <h3 class="u-text u-text-default u-text-grey-70 u-text-2" style="font-size:2.5rem;">GALLERY</h3>
                                    <p class="u-text u-text-body-color u-text-3" style="font-size: 1.3rem;">#갤러리 #피드<br>#커뮤니티</p>
                                </div>
                            </div>
                        </a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'collection' %}" class="link">
                    {% else %}
                        <a onclick="not_login();" >
                    {% endif %}
                            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-2">
                                <div class="u-container-layout u-similar-container u-container-layout-2">
                                    <img class="u-image u-image-default u-preserve-proportions u-image-2" alt="" data-image-width="512" data-image-height="512" src="{% static 'main/images/place.png' %}">
                                    <h3 class="u-text u-text-default u-text-grey-70 u-text-4" style="font-size:2.5rem;">COLLECTION</h3>
                                    <p class="u-text u-text-body-color u-text-5" style="font-size: 1.3rem;">#랜드마크_촬영 #스탬프_획득<br>#포즈_추천</p>
                                </div>
                            </div>
                        </a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'ranking' %}" class="link">
                    {% else %}
                        <a onclick="not_login();" >
                    {% endif %}
                            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-3">
                                <div class="u-container-layout u-similar-container u-container-layout-3">
                                    <img class="u-image u-image-default u-preserve-proportions u-image-3" alt="" data-image-width="512" data-image-height="512" src="{% static 'main/images/ranking2.png' %}">
                                    <h3 class="u-text u-text-default u-text-grey-70 u-text-6"style="font-size:2.5rem;">RANKING</h3>
                                    <p class="u-text u-text-body-color u-text-7" style="font-size: 1.3rem;">#누가누가 #많이_다녀왔나<br>#랭킹</p>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'about_pm' %}" class="link">
                            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-4">
                                <div class="u-container-layout u-similar-container u-container-layout-4">
                                    <img class="u-image u-image-default u-preserve-proportions u-image-4" alt="" data-image-width="512" data-image-height="512" src="{% static 'main/images/info.png' %}">
                                    <h3 class="u-text u-text-default u-text-grey-70 u-text-8"style="font-size:2.1rem;">ABOUT<br>Photo Marble</h3>
                                    <p class="u-text u-text-body-color u-text-9" style="font-size: 1.3rem;">#포토마불_사용가이드</p>
                                </div>
                            </div>
                        </a>
                  </div>
              </div>
        </section>
    </div>

    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-05fd">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">
                <span style="font-family: 'yg-jalnan';font-size: 1.3rem; color : #db545a;">KT AIVLE SCHOOL AI 수도권 4반</span><br>
            </p>
        </div>
    </footer>
</body>
</html>

<style>
 
  @font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sidebarMenuInner li{
  list-style: none;
  color: #db545a;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  font-size: 35px;   
  font-family: 'yg-jalnan'; 
}
.u-section-1 {
    min-height: 93%;
}
</style>

<script src="main/assets/js/jquery.min.js"></script>
<script src="main/assets/js/jquery.scrolly.min.js"></script>
<script src="main/assets/js/jquery.scrollex.min.js"></script>
<script src="main/assets/js/browser.min.js"></script>
<script src="main/assets/js/breakpoints.min.js"></script>
<script src="main/assets/js/util.js"></script>
<script src="main/assets/js/main.js"></script>
<script>
   function not_login(){
     alert("로그인 후 사용하실 수 있습니다.");
   }
</script>
{% endblock %}