.test{
    position:absolute;
    position:relative;
    left: 10%;
    padding-top:5%
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;    
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;    
    margin-top: -9px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 10px;
  width: 300%;
  background-color: #db545a;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;  
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.sidebarMenuInner li {
  list-style: none;
  color: #db545a;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  font-size: 35px;
  font-family: 'yg-jalnan';
  text-decoration: none;
}
.sidebarMenuInner li a {
  color: #db545a;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-family: 'yg-jalnan';
  text-decoration: none;
  font-size: 38px;
}
.feed_box {
  background-color: white;
  width: 400px;
  margin: 105px;
  min-height: auto;
  padding-bottom: 10px;
}
span{
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
u-table th, .u-table td
 {
  padding: 10px;
  font-weight: inherit;
  position: inherit;
  width: 10%;
}
a {
 
  text-decoration: none;
}
.btn{
 background-image: linear-gradient(to right, #77aad9, #e68387);
  border-style: none; 
  height : 40; 
  margin : -4 0 0 0 ;
  font-family: 'Cafe24Ssurround';
  color: white;
  font-size:30px;
}
