.medal{
  width: 10rem;
  height: 10rem;
  top: 10%;
  left:50%;
  padding-top: 5px;
}
.userinfo{
  color:#ffffff;
  text-shadow: 2px 1px #888888;
  font-weight: bold;
  font-size: 35px;
  font-family:'yg-jalnan';
}
.profile_box{
  width: 90px;
  height: 90px;
  border-radius: 70%;
  overflow: hidden;
  text-align: center; /* 문자들의 가운데 정렬을 해제 */ 

  margin: 0 auto;
  border:3px solid #ffffff;


}
.profile{
  width: 200%;
  height: 100%;
  object-fit: cover;
    
}
  #screen1{
    
    width: 180px;
    height: 500px;

    float: left;
    position:absolute;
    left:50%;
  }
  #screen1-1{
    
    width: 180px;
    height: 140px;
 
    position:absolute;
    left:41%;
    top:30%;
  }
  #screen1-2{
    width: 28%;
    height: 45%;
    background-color: #ee7277;
    position:absolute;
    left:36%;
    bottom:0%;
  }
  #screen2{
    width: 180px;
    height: 500px;
 
    float: left;
    position:absolute;
    left:30%;
  }
  #screen2-1{
    width: 180px;
    height: 140px;
 
    position:absolute;
    left:16%;
    top:44%;
  }
  #screen2-2{
    width: 28%;
    height: 30%;
    background-color: #52c7c1;
    position:absolute;
    left:12%;
    bottom:0%;

  }
  #screen3{
    width: 180px;
    height: 500px;

    float: left;
    position:absolute;
    left:60%;
  }
  #screen3-1{
    width: 180px;
    height: 140px;

    position:absolute;
    left:65%;
    top:52%;
  }
  #screen3-2{
    width: 28%;
    height: 23%;
    background-color: #ffd838;
    position:absolute;
    left:60%;
    bottom:0%;
  }
 
 
 .u-section-1 {
  background-image: none;
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  background-image: linear-gradient(#fbeced, #adcce9);
  min-height: 50%;
  
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 84px;
  height: 84px;
  margin: 106px auto 0;
}

.u-section-1 .u-image-2 {
  width: 84px;
  height: 84px;
  margin: -14px auto 0 371px;
}

.u-section-1 .u-text-1 {
  font-size: 0.9375rem;
  font-weight: 700;
  width: 148px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -70px auto 0;
}

.u-section-1 .u-image-3 {
  width: 84px;
  height: 84px;
  margin: -6px 371px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  width: 130px;
  margin: -78px auto 0;
}

.u-section-1 .u-group-2 {
  width: 160px;
  background-image: none;
  min-height: 190px;
  height: auto;
  margin: 6px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
  background-color: #ee7277;
}

.u-section-1 .u-icon-2 {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 0.9375rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -171px 753px 0 339px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 762px 0 348px;
}

.u-section-1 .u-text-5 {
  font-size: 0.9375rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -7px 339px 0 753px;
}

.u-section-1 .u-group-3 {
  width: 160px;
  background-image: none;
  min-height: 120px;
  height: auto;
  margin: -13px auto 0 333px;
}

.u-section-1 .u-container-layout {
  padding: 30px;

  
}
#carousel_c559 > div.u-align-center.u-container-style.u-expanded-width.u-gradient.u-group.u-shape-rectangle.u-group-1 > div > div.u-container-style.u-custom-color-3.u-group.u-shape-round.u-top-left-radius-7.u-top-right-radius-7.u-group-4 > div {
padding: 30px;
background-color: #ffd838;

}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
  background-color: #52c7c1;
  
}

.u-section-1 .u-icon-4 {
  width: 55px;
  height: 55px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -106px 348px 0 762px;
}

.u-section-1 .u-group-4 {
  width: 160px;
  background-image: none;
  min-height: 80px;
  height: auto;
  margin: 3px 333px 0 auto;
}

.u-section-1 .u-icon-6 {
  width: 55px;
  height: 55px;
  margin: 12px auto 0;
}

.u-section-1 .u-table-1 {
  width: 710px;
  margin: 0 auto 60px;
}

.u-block-370f-120 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-icon-7 {
  font-size: 1.5626em;
  margin-right: 0;
  vertical-align: 0px;
  margin-left: 25px;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 482px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -136px;
    margin-right: 653px;
    margin-left: 239px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 662px;
    margin-left: 248px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 239px;
    margin-left: 653px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -48px;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 248px;
    margin-left: 662px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 369px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 543px;
    margin-left: 129px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 552px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 129px;
    margin-left: 543px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 138px;
    margin-left: 552px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1517px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 277px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    
    
  }

  .u-section-1 .u-text-3 {
    margin-right: 453px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 462px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 39px;
    margin-left: 453px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 48px;
    margin-left: 462px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1317px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 256px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 256px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 174px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 292px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 310px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 292px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 180px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 310px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 180px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  
}